<div class="container">
	<br>

	<div class="row">
		<div class="col-md-12">
			<h3 
				class="font_3" 
				style="line-height:0.9em; text-align:center;"
			>
				<span class="color_32">
					<span style="font-family:marck script,cursive;">
						Welcome chez Gusty pizza
					</span>
				</span>
			</h3>
			<h2 
				class="font_2" 
				style="font-size:42px; line-height:0.9em; text-align:center;"
			>
				<span style="font-family:marck script,cursive;">
					<span style="font-size:42px;">Qui nous sommes&nbsp;</span>
				</span>
			</h2>
			<h2 class="font_2" style="font-size:42px; text-align:center;">
				<span style="font-family:marck script,cursive;">
					<span style="font-size:42px;">
						<span class="wixGuard">​</span>
					</span>
				</span>
			</h2>
			<p class="font_8" style="text-align:center;">
				<span style="font-family:marck script,cursive;">
					The people, food and the prime locations make Rodich the perfect place good friends &amp; family to come together and have great time. Everytime you perfectly dine with us, it should happy for great inspired food in an environment designed with individual touches unique to the local area.
				</span>
			</p>			
		</div>
	</div>

    <div class="row">
        <div class="col-md-4">
            <h1>NOS PIZZAS</h1>
        	<hr>
        </div>
    </div>
	
	<div class="row">
		<div class="col-md-12">
			 <table class="table">
			    <thead>
			      <tr>
			        <th></th>
			        <th>Petite</th>
			        <th>Grande</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>
			        	<h3>PIZZA FORESTIERE</h3>
			        	Chinese mustard / Chipotle aioli /Mayonnaise
			        </td>
			        <td>25 €</td>
			        <td>27 €</td>
			      </tr>
			      <tr>
			        <td>
			        	<h3>PAMPLONA DE POLLO</h3>
			        	Dandelion greens / Mayonnaise
			        </td>
			        <td>17 €</td>
			        <td>25 €</td>
			      </tr>
			    </tbody>
			  </table>			
		</div>		
	</div>

</div>