<div class="container">
	<br>
    <div class="row">
        <div class="col-md-4">
            <h1>NOS PIZZAS</h1>
        	<hr>
        </div>
    </div>
	
	<div class="row">
		<div class="col-md-12">
			 <table class="table">
			    <thead>
			      <tr>
			        <th></th>
			        <th>Petite</th>
			        <th>Grande</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>
			        	<h3>PIZZA FORESTIERE</h3>
			        	Chinese mustard / Chipotle aioli /Mayonnaise
			        </td>
			        <td>25 €</td>
			        <td>27 €</td>
			      </tr>
			      <tr>
			        <td>
			        	<h3>PAMPLONA DE POLLO</h3>
			        	Dandelion greens / Mayonnaise
			        </td>
			        <td>17 €</td>
			        <td>25 €</td>
			      </tr>
			    </tbody>
			  </table>			
		</div>		
	</div>

</div>