.txtNew {
    word-wrap: break-word;
    text-align: start;
    pointer-events: none;
}

.txtNew h3 {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}

.color_32 {
    color: #FFC880;
}

.font_3 {
    font: normal normal normal 58px/1.4em impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif;
    color: #222222;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.parallax-pizza {
    background: url('pizza.webp') no-repeat center center fixed;
    height: 300px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#show-mobile{
    display: none !important;
}

@media screen and (min-width: 768px)
{
    #prix_pm{
    margin-left: 0%;
 }
 #prix_gm{
    margin-left: 0%;
 }
}
@media screen and (max-width: 767px) 
{
      #hide-mobile{
        display: none !important;
      }

     #show-mobile{
        display: block !important;
     }
     #list-prix{
         display: inline-flex !important;
     }
     #prix_pm{
        margin-left: 68%;
        position: absolute;
     }
     #prix_gm{
        margin-left: 68%;
        position: absolute;
     }
  
}