<div class="container">
    <div id="overlay" *ngIf="!pizzasCharger;">
        <div id="text">Chargement des pizzas en cours...</div>
    </div>    
	<br>
    <div class="row">
        <div class="col-md-4">
            <h1>NOS PIZZAS</h1>
        	<hr style="border-bottom: 3px solid rgba(153, 153, 153, 1) !important;">
        </div>
    </div>

    <div class="row">
    	<div class="col-md-8">
    		
    	</div>
    	<div class="col-md-2">
    		<p><strong>Petite</strong></p>
    	</div>
    	<div class="col-md-2">
    		<p><strong>Grande</strong></p>
    	</div>
    </div>	

    <div class="row" *ngFor="let i of pizza">
    	<div class="col-md-8">
    		<h3>{{i.nom | uppercase}}</h3>
    		<p>{{i.ingredient}}<p>
    	</div>
    	<div class="col-md-2">
    		<p>{{i.pm}}<p>
    	</div>
    	<div class="col-md-2">
    		<p>{{i.gm}}<p>
    	</div>
    </div>
</div>