<!-- Menu -->
<div class="menu" id="nav-mobile">
	<div class="container" id="menu-bureau">
		<div class="row">
			<div class="col-md-2">
				
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-4">
						<a 
							class="pull-left k"
							(click)="goTo('#home')"
						>
							Accueil
						</a>						
					</div>
					<div class="col-md-4">
						<a 
							class="text-center"
							(click)="goTo('#pizza')"
						>
							Notre carte
						</a>
					</div>
					<div class="col-md-4">
						<a 
							class="pull-right"
							(click)="goTo('#contact')"
						>
							Horaires & contact
						</a>
					</div>					
				</div>
			</div>
			<div class="col-md-2">
				<a 
					routerLink="/"				 
				>
					<img src="assets/images/logo/logo_fb.png">
				</a>
				<a 
					routerLink="/"					 
				>
					<img src="assets/images/logo/logo_instagram.png">
				</a>
				<a 
					routerLink="/"					 
				>
					<img src="assets/images/logo/logo-o_o.png">
				</a>
				<a 
					routerLink="/"					 
				>
					<img src="assets/images/logo/logo_etoil.png">
				</a>
			</div>				
		</div>
	</div>
	<div class="container-fluid" id="menu-bureau-small">
		<div class="row">
			<div class="col-md-2">
				
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-4">
						<a 
							class="pull-left k"
							(click)="goTo('#home')"
						>
							Accueil
						</a>						
					</div>
					<div class="col-md-4">
						<a 
							class="text-center"
							(click)="goTo('#pizza')"
						>
							Notre carte
						</a>
					</div>
					<div class="col-md-4">
						<a 
							class="pull-right"
							(click)="goTo('#contact')"
						>
							Horaires & contact
						</a>
					</div>					
				</div>
			</div>
			<div class="col-md-2">
				<a 
					routerLink="/"				 
				>
					<img src="assets/images/logo/logo_fb.png">
				</a>
				<a 
					routerLink="/"					 
				>
					<img src="assets/images/logo/logo_instagram.png">
				</a>
				<a 
					routerLink="/"					 
				>
					<img src="assets/images/logo/logo-o_o.png">
				</a>
				<a 
					routerLink="/"					 
				>
					<img src="assets/images/logo/logo_etoil.png">
				</a>
			</div>				
		</div>
	</div>
	<div class="container-fluid" id="menu-tablet">
		<div class="row">
			<div class="col-md-2">
				
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-3">
						<a 
							class="pull-left k"
							(click)="goTo('#home')"
						>
							Accueil
						</a>						
					</div>
					<div class="col-md-3">
						<a 
							class="text-center"
							(click)="goTo('#pizza')"
						>
							Notre carte
						</a>
					</div>
					<div class="col-md-3">
						<a 
							class="pull-right"
							(click)="goTo('#contact')"
						>
							Horaires & contact
						</a>
					</div>
					<div class="col-md-3">
						<a 
							routerLink="/"				 
						>
							<img src="assets/images/logo/logo_fb.png">
						</a>
						<a 
							routerLink="/"					 
						>
							<img src="assets/images/logo/logo_instagram.png">
						</a>
						<a 
							routerLink="/"					 
						>
							<img src="assets/images/logo/logo-o_o.png">
						</a>
						<a 
							routerLink="/"					 
						>
							<img src="assets/images/logo/logo_etoil.png">
						</a>
					</div>						
				</div>
			</div>
						
		</div>
	</div>
	<div class="container-fluid" id="menu-tablet-min">
		<div class="row">
			
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-3">
						<a 
							class="pull-left k"
							(click)="goTo('#home')"
						>
							Accueil
						</a>						
					</div>
					<div class="col-md-3">
						<a 
							class="text-center"
							(click)="goTo('#pizza')"
						>
							Notre carte
						</a>
					</div>
					<div class="col-md-3">
						<a 
							class="pull-right"
							(click)="goTo('#contact')"
						>
							Horaires & contact
						</a>
					</div>
					<div class="col-md-3">
						<a 
							routerLink="/"				 
						>
							<img src="assets/images/logo/logo_fb.png">
						</a>
						<a 
							routerLink="/"					 
						>
							<img src="assets/images/logo/logo_instagram.png">
						</a>
						<a 
							routerLink="/"					 
						>
							<img src="assets/images/logo/logo-o_o.png">
						</a>
						<a 
							routerLink="/"					 
						>
							<img src="assets/images/logo/logo_etoil.png">
						</a>
					</div>						
				</div>
			</div>
						
		</div>
	</div>

	<div id="menu-mobile">
		<div class="topnav" id="myTopnav">
			  <a 		(click)="goTo('#home')"
									>
							Accueil
						</a>
			  <a 
							(click)="goTo('#pizza')"
						>
							Notre carte
						</a>
			  <a 
							(click)="goTo('#contact')"
						>
							Horaires & contact
						</a>
			 
			  <a href="javascript:void(0);" style="font-size:15px;" class="icon" (click)="myFunction()">&#9776;</a>
		</div>
		
		
	</div>
	
</div>

 
<!-- Fin menu -->

<div id="home">
	<app-home></app-home>
</div>
<div class="container">	
	<div class="row">
		<div class="col-md-12">
			<h3 
				class="font_3" 
				style="line-height:0.9em; text-align:center; margin-top: 50px;"
			>
				<span class="color_32">
					<span style="font-family:marck script,cursive;">
						Welcome chez Pizza Hut
					</span>
				</span>
			</h3>
			<h2 
				class="font_2" 
				style="font-size:42px; line-height:0.9em; text-align:center;"
			>
				<span style="font-family:marck script,cursive;">
					<span style="font-size:42px;">Qui nous sommes&nbsp;</span>
				</span>
			</h2>
			<h2 class="font_2" style="font-size:42px; text-align:center;">
				<span style="font-family:marck script,cursive;">
					<span style="font-size:42px;">
						<span class="wixGuard">​</span>
					</span>
				</span>
			</h2>
			<p class="font_8" style="text-align:center;">
				<span style="font-family:marck script,cursive;">
					The people, food and the prime locations make Rodich the perfect place good friends &amp; family to come together and have great time. Everytime you perfectly dine with us, it should happy for great inspired food in an environment designed with individual touches unique to the local area.
				</span>
			</p>			
		</div>
	</div>
</div>

<div id="pizza">
	<app-pizza></app-pizza>
</div>

<div id="boisson">
	<app-boisson></app-boisson>
</div>

<div id="contact">
	<app-contact></app-contact>
</div>


<script>

</script>
