.commander {
    text-transform: uppercase;
    height: 40px;
    border: 1px solid;
    width: 150px;
    margin: auto;
    padding-top: 6px;
    cursor: pointer;
	background: black;
	color: white;    	
}

.commander:hover {
	background: white;
	color: black;

}