<div class="container">
    <br><br><br>
    <div class="row">
        <div class="col-md-12" style="text-align: center; margin-top: 5px; ">
            <img src="https://static.wixstatic.com/media/4654e9_160ec979e5a6464eb6288068f5a7f62c~mv2.png/v1/fill/w_520,h_290,al_c,lg_1/4654e9_160ec979e5a6464eb6288068f5a7f62c~mv2.png">
        </div>
    </div>
    <br><br>

    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <div class="commander">
                Commander
            </div>
        </div>
    </div>
</div>